/*widths for screens*/
$desktopWidth: 1440px;
$mobileWidth: 375px;
/*primary colors*/
$StrongCyan: hsl(171, 66%, 44%);
$LightBlue: hsl(233, 100%, 69%);
/*neutral colors*/
$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);
$white: #fff;
$black: #000;
/*font sizes*/
$Fontsize: 18px;
$fontw: 400;
$fontBolder: 800;
/*padding margins*/
$paddingDefault: 1rem;
$marginAuto: 0 auto;
