@import 'colors&etc.scss';
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,500&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
color: $DarkGrayishBlue;
font-size: $Fontsize;
}
p{
    color: $GrayishBlue;
    font-size: $Fontsize;
    font-weight: $fontw;
}
a, li {
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    font-family: 'Bai Jamjuree', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*main container*/
.container{
    width: $desktopWidth;
    margin: 0 auto;
}
/*buttins style*/
.btn__blue{
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: $LightBlue;
    padding: 1rem 2.4rem;
    border-radius: 30px;
    color: $white;
    font-weight: $fontw;
    text-align: center;
    &:hover{
        box-shadow: 0px 2px 15px $LightBlue;
     }
  
}
.btn__cyan{
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: $StrongCyan;
    padding: 1rem 2.4rem;
    border-radius: 30px;
    color: $white;
    font-weight: $fontw;
    text-align: center;
     &:hover{
        box-shadow: 0px 2px 15px $StrongCyan;
     }
   
}

/*header style*/
.header{
    background-image: url('images/bg-header-desktop.png');
    background-size: contain;
    width: 100%;
    display: flex;
    &__logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 3.5rem auto;
        padding-top: $paddingDefault;
        & img{
            width: 15rem;
            margin: $marginAuto;
            text-align: center;
        }
    }
    &__content{
     padding: $paddingDefault;
     text-align: center;
     & h1{
         font-weight: $fontBolder;
         font-size: 2rem;
         padding-bottom: $paddingDefault;
     }
     & p{
         text-align: center;
         line-height: 1.8;
     }
     
    }

    &__btns_group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 5rem;
        & a{
            width: 15%;
            margin-left: 1rem;
        }
    }
    @media (min-width: $mobileWidth) and (max-width: 1000px) {
        background-image: url(dist/images/bg-header-mobile.png);
        background-size: cover;
        &__logo{
            margin: 2rem auto;

            & img{
                width: 50%;
            }
        }

       &__btns_group{
           width: 100%;
           display: flex !important;
           flex-direction: column;
           justify-content: space-between;
           align-items: center;
           & a{
               width: 100%;
               margin-bottom: 1rem;
               text-align: center;
           }
       }
    }
}

/*first section*/
.first__sec{
   display: flex;
   flex-wrap: wrap;
   margin-top: 8rem;
   justify-content: space-between;
  & .title{
      text-align: center;
      & h1{
          margin-bottom: $paddingDefault;
      }
      & p{
          width: 50%;
          margin: $marginAuto;
          line-height: 1.4;
          padding-bottom: 2rem;
      }
  }
    & .image__search{
     width: 47%;
     margin-top: 2rem;
    }

    & aside{
        text-align: start !important;
        justify-content: start;
        display: grid;
        grid-template-rows: repeat(3,1fr);
        
        
        & > div{
            margin-left: 4rem;
            margin-top: 2rem;
            & .title{
                text-align: start;
                padding-bottom: $paddingDefault;
            
    
            }
            & p{
                width: 70%;
            }
        } 
    }

    @media (min-width: $mobileWidth) and (max-width: 1000px) {
        & .image__search{
            width: 47%;
            margin-top: 2.3rem;
            margin: $marginAuto;
           }
    }
  }
  /*second section*/
  .second__sec{
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $paddingDefault;
   & .header{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
      & .image__sec{
          width: 60%;
      }
      & .footer{
          text-align: center;
      }
  }



  /*companies style*/
  .companies__sec{
      margin: 2rem 0;
      padding: $paddingDefault;
    & .cards{
      display: grid; 
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      justify-content: center;
      margin-bottom: 5rem;
      & .card{
          text-align: center;
          & > svg{
              margin-bottom: 1rem;
          }
      }
    }

    & .row{
       display: grid;
       grid-template-columns: repeat(6, 1fr);
       grid-gap: 3rem;
       text-align: center;
       align-items: center;
       justify-content: space-between;
       padding-top: 5rem;
        & .comapny__image{
            width: 12rem;
            margin-left: 3rem;
        }
    }

    @media (min-width: $mobileWidth) and (max-width: 1000px) {
        & .cards{
            display: grid; 
            grid-template-columns: 1fr;
        }
        & .row{
            display: grid;
            grid-template-columns: 1fr;
            margin-left: 0;

            & :nth-of-type(4){
                padding-left: 3rem;
            }
        }
    }

  }

  /*showcase styel*/
  .showcase{
      display: grid;
      grid-template-columns: repeat(1, 2fr);
      grid-gap: 1.7rem;
      text-align: center;
      padding: 5rem 0.5rem;
      & h1{
        font-weight: 1000;
      }
      & p{
          padding: 2rem 0;
      }
      & .btns_group{
       & .btn__blue, .btn__cyan{
           height: 0.7rem;
           padding: 0.7rem 3rem;
           margin: 0.3rem;
       }  
    }

    @media (min-width: $mobileWidth) and (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);


    & .btns_group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
        padding: 1.5rem 0.5rem;
        & .btn__blue, .btn__cyan{
            width: 100%;
            padding: 1.1rem 3rem;
            text-align: center;
        }
    }
    }
  }

  /*footer*/
  footer{
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      background-color: #e9ebecf8;
      padding: 2.5rem 1rem;

      & .logo{
          padding-left: 7rem;
          & img{
              width: 40%;
          }
      }

      & .contact__sec{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          align-content: center;
          padding-right: 5rem;

          & .menu__links{
              & .links{
                  cursor: pointer;
                  &:hover{
                      color: $StrongCyan;
                  }
              }
          }
      }

      & .social{
          display: flex;
          align-content: center;
          text-align: center;
          justify-content: flex-end;
           padding-right: 2rem;
           padding-top: 2rem;
           & .social__icon{
               margin-left: 1rem;
               color: $DarkGrayishBlue;
               cursor: pointer;
               border-radius: 4px;
               font-size: 2.5rem;
               &:hover{
                color: $StrongCyan;
            }
               
           }

      }


      @media (min-width: $mobileWidth) and (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        & .social{
            display: flex;
            justify-content: center;
             & .social__icon{
                 margin-left: 1rem;
                 color: $DarkGrayishBlue;
                 cursor: pointer;
                 border-radius: 4px;
                 font-size: 2.5rem;
                 &:hover{
                  color: $StrongCyan;
              }
                 
             }
  
        }
        & .contact__sec{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            & .menu__links{
                margin-top: 1rem;
            }
        }
    }
  }